<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/games.css">
</head>
<body>
    <div id="container">
        <div class="success-box">
            <img class="img" src="undraw_questions_re_1fy7.svg" alt="">
            <div class="message"><h1 class="alert">Quiz!</h1><p>let's do some questions</p></div>
            <a style="text-decoration: none;" href="/templates/quiz.html"><button class="button-box" ><h1 class="green">Quiz Time</h1></button></a>
        </div>
        <div class="error-box">
            <img class="img" src="undraw_gaming_re_cma2.svg" alt="">
            <div class="message"><h1 class="alert">Fun Game!</h1><p>let's play engaging games</div>
                <a style="text-decoration: none;" href="/templates/fun_game.html"><button class="button-box" ><h1 class="green">Let's learn</h1></button></a>
                
            </div>
            <div class="success-box">
                <img class="imgg" src="undraw_mathematics_-4-otb.svg" alt="">
                <div class="message"><h1 class="alert">Brain Teaser!</h1><p>Challenging mind-games</p></div>
                <a style="text-decoration: none;" href="/templates/sum_stacks_game.html"><button class="button-box" ><h1 class="green">Play Now</h1></button></a>
        </div>
    </div>
</body>
</html>